@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Myanmar:wght@400;800&display=swap");

html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Noto Serif Myanmar', serif;
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #08AEEA;
    /* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  

.btn {
    border: none;
    background-color: #eee;
    color: #222;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.btn:hover {
    background-color: #ccc;
}

.guess {
    background: none;
    border: 4px solid #eee;
    font-size: 5rem;
    padding: 2.5rem;
    width: 25rem;
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}

h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
    color: #222;
}

.between {
    font-size: 2rem;
    opacity: 50%;
    color: #222;
    margin-top: -3rem;
    margin-bottom: -0.2rem;
}

.number {
    background: #eee;
    color: #333;
    font-size: 2rem;
    padding: 0.5rem 0rem;
    margin: 2rem 0;
}

.bottom {
    font-size: 2rem;
}

.credit {
    margin-top: 3rem;
    opacity: 50%;
}